*.a
*.log
*.lst
*.o
*.pdf
*.s
*.exe
*.sublime-project
*.sublime-workspace
.dub
.generated
.vscode
__*
dub.selections.json
mir-algorithm
mir-algorithm-test-library
mir-internal
web
.DS_*
docs
*.html
docs.json
out/
/tests_extractor.d
build/
files
mir-algorithm.lib
