*.a
*.log
*.lst
*.o
*.pdf
*.s
*.exe
*.sublime-project
*.sublime-workspace
.dub
.generated
.vscode
__*
dub.selections.json
mir-algorithm
mir-algorithm.exe
mir-algorithm-test-library
mir-algorithm-test-library.exe
mir-internal
web
