sudo: false
os:
 - linux
 - osx
language: d
d:
 - ldc-1.2.0
 - ldc-1.3.0
 - ldc-1.4.0
 - ldc
 - ldc-beta
 - dmd-nightly
 - dmd-beta
 - dmd
env:
 - ARCH="x86_64"
matrix:
  include:
    - {os: linux, d: ldc-beta, env: ARCH="x86", addons: {apt: {packages: [[gcc-multilib]]}}}
    - {os: linux, d: ldc, env: ARCH="x86", addons: {apt: {packages: [[gcc-multilib]]}}}
    - {os: linux, d: dmd-beta, env: ARCH="x86", addons: {apt: {packages: [[gcc-multilib]]}}}
    - {os: linux, d: dmd, env: ARCH="x86", addons: {apt: {packages: [[gcc-multilib]]}}}
branches:
  only:
    - master
script:
 - dub test --arch "$ARCH" --build=unittest-cov
 - dub test --arch "$ARCH" --build=unittest-release
after_success:
 - bash <(curl -s https://codecov.io/bash)
