language: d
dist: trusty
sudo: false
packages:
  - pkg-config
d:
 - ldc
 - ldc-beta
 - dmd-nightly
 - dmd-beta
 - dmd
branches:
  only:
    - master
env:
 - ARCH="x86_64"
matrix:
  # include:
  #   - {os: linux, d: ldc-beta, env: ARCH="x86", addons: {apt: {packages: [[gcc-multilib]]}}}
  #   - {os: linux, d: ldc, env: ARCH="x86", addons: {apt: {packages: [[gcc-multilib]]}}}
  #   - {os: linux, d: dmd-beta, env: ARCH="x86", addons: {apt: {packages: [[gcc-multilib]]}}}
  #   - {os: linux, d: dmd, env: ARCH="x86", addons: {apt: {packages: [[gcc-multilib]]}}}
  allow_failures:
    - {d: dmd-nightly}
    - {d: ldc-beta}
    - {d: gdc}
install:
  - pyenv global system 3.6
  - pip3 install 'meson>=0.45'
  - mkdir .ntmp
  - curl -L https://github.com/ninja-build/ninja/releases/download/v1.8.2/ninja-linux.zip -o .ntmp/ninja-linux.zip
  - unzip .ntmp/ninja-linux.zip -d .ntmp
before_script:
  - export PATH=$PATH:$PWD/.ntmp
script:
#  - travis_wait 100 dub test --arch "$ARCH"
 - ./test_examples.sh
 - meson build && cd build && meson configure -Ddefault_library=static && ninja -j4 && ninja -j4 test -v && cd .. # TODO: 32bit meson test
#  - travis_wait 100 dub test --arch "$ARCH" --build=unittest-cov
#  - travis_wait 100 dub test --arch "$ARCH" --build=unittest-release

after_success:
 - bash <(curl -s https://codecov.io/bash)
