language: d
d:
 - ldc
 - ldc-beta
 - dmd-nightly
 - dmd-beta
 - dmd
branches:
  only:
    - master
    - stable
env:
 - ARCH="x86"
 - ARCH="x86_64"
addons:
  apt:
    packages:
      - gcc-multilib
matrix:
  allow_failures:
    - {d: dmd-nightly}
    - {d: ldc-beta}
    - {d: gdc}
script:
 - travis_wait 100 dub test --arch "$ARCH" --build=unittest-cov
 - travis_wait 100 dub test --arch "$ARCH" -c dips
 - ./test_examples.sh
#  - travis_wait 100 dub test --arch "$ARCH" --build=unittest-release

after_success:
 - bash <(curl -s https://codecov.io/bash)
